# remove all folder named __pycache__ anywhere in the package
**/__pycache__/

# Ignore these files because too big for github
pvpumpingsystem/data/weather_files/Melbourne_hourly_and_minutely/melbourne_minutely_086282_2010/

# Other
.coverage
pvpumpingsystem.egg-info